body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}
nav{

    background-color: #333;
    padding: 10px;

}

nav ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav ul li{

    position: relative;
    margin: 15px;

}

nav ul li a:hover{

    color: #ff6347;

}

nav ul li .dropdown-content{

    display: none;
    position: relative;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(red, green, blue, alpha);
    z-index: 1;
    min-width: 160px;
    padding: 0;

}

nav ul li .dropdown-content li{

    margin: 0;

}

nav ul li .dropdown-content li a{

    padding: 10px 15px;

}

nav ul li .dropdown-content li a:hover{

    background-color: #575757;

}

nav ul li:hover .dropdown-content{

    display: block;

}
footer{
    background-color: #333;
    color: white;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}
.footer-section{

    flex-basis: 23%;
    margin-bottom: 20px;

}
.footer-section h4{

    margin-bottom: 15px;
    font-size: 18;
    color: #ff6347;

}
.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;

}
.footer-section ul{

    list-style-type: none;

}
.footer-section ul li {

    margin-bottom: 10px;

}
.footer-section ul li a{

    color: white;
    text-decoration: none;
    transition: 0.3s;

}
.footer-section ul li a:hover{

    color: #ff6347;

}
.social-link a:hover{

    color: #ff6347;

}
.footer-bottom{

    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #444;
    font-size: 14px;

}
.footer-bottom p{
    margin: 0;
}


.container-login{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1;
    max-width: 300px;
    align-items: center;
    padding: 50px;
    justify-content: center;
    margin: 100px;

}